@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.container {
    display: flex;
    align-items: center;
    width: 100%;
}

.sideMenuContainer {
    width: $side-menu-width;
    min-height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: -$side-menu-width;
    background-color: $text-white;
    transition: all 0.3s;
    box-sizing: border-box;
}

.sideMenuScrollContainer {
    min-height: calc(100vh - $header-height-mobile-sm);
    max-height: calc(100vh - $header-height-mobile-sm);
    margin-top: $header-height-mobile-sm;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.sideMenuContainerActive {
    left: 0;
    box-shadow: 1px 0px 4px 0px rgba(149, 149, 149, 0.7);
}

.hamburger {
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        display: block;
        width: 100%;
        border-radius: 10px;
        height: 3px;
        background: $text-black;
        transition: all 0.3s;
        position: absolute;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            width: 75%;
            top: 50%;
            transform: translate(0, -50%);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }
}

.hamburgerActive {
    span {
        &:nth-child(1) {
            top: 50%;
            transform: translate(0, -50%) rotate(135deg);
        }

        &:nth-child(2) {
            top: 50%;
            transform: translate(0, -50%) scale(0);
        }

        &:nth-child(3) {
            bottom: 50%;
            transform: translate(0, 50%) rotate(-135deg);
        }
    }
}

@include mobile-md {
    .sideMenuScrollContainer {
        padding: 0 20px 20px;
        min-height: calc(100vh - $header-height-mobile-md);
        max-height: calc(100vh - $header-height-mobile-md);
        margin-top: $header-height-mobile-md;
    }

    .hamburger {
        margin-right: 20px;
    }
}

@include tablet {
    .sideMenuScrollContainer {
        padding: 0 25px 25px;
        min-height: calc(100vh - $header-height-tablet);
        max-height: calc(100vh - $header-height-tablet);
        margin-top: $header-height-tablet;
    }

    .hamburger {
        margin-right: 25px;
    }
}

@include desktop {
    .sideMenuScrollContainer {
        padding: 0 30px 30px;
        min-height: calc(100vh - $header-height-desktop);
        max-height: calc(100vh - $header-height-desktop);
        margin-top: $header-height-desktop;
    }

    .hamburger {
        margin-right: 30px;
    }
}
