@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.content {
    padding: $header-height-mobile-sm 15px 15px;
    box-sizing: border-box;
    width: 100%;
}

@include mobile-md {
    .content {
        padding: $header-height-mobile-md 80px 40px;
    }
}

@include tablet {
    .content {
        padding: $header-height-tablet 100px 50px;
    }
}

@include desktop {
    .content {
        padding: $header-height-desktop 120px 60px;
    }
}
