@import "./mixins.scss";

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    @include font-ubuntu;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
