@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
    position: relative;
    z-index: 1;
    font-size: 22px;
}

.link {
    text-decoration: none;
    color: $text-black;
}
