@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
    @include font-ops;
    position: relative;
    z-index: 1;
}

.link {
    text-decoration: none;
    color: $text-black;
}
