@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    max-width: $mobile-md-width;
}

.block {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 28px;
    padding: 15px 0 0;
}

.sizes {
    font-size: 18px;
    margin-top: 15px;
}

.description {
    margin-top: 15px;
    font-size: 16px;
}

.image {
    width: 100%;
}

.productPrice {
    font-size: 18px;
    margin-top: 10px;
}

.link {
    color: $text-white;
    background-color: $text-orange;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    padding: 15px 0;
    transition: all 0.3s;
    opacity: 0.9;

    &:hover {
        opacity: 1;
    }
}

@include tablet {
    .container {
        min-width: 100%;
        flex-direction: row;
    }

    .block {
        width: 50%;
        padding-top: 30px;

        &:nth-of-type(1) {
            padding-right: 30px;
        }

        &:nth-of-type(2) {
            padding-left: 30px;
        }
    }

    .title {
        padding: 0;
    }
}
