@import "../../styles/variables.scss";

.container {
    width: 100%;
    height: $header-height;
    position: sticky;
    top: 0;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
