@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
    width: 100%;
    height: $header-height-mobile-sm;
    position: sticky;
    top: 0;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: $text-white;
}

@include mobile-md {
    .container {
        height: $header-height-mobile-md;
        padding: 20px;
    }
}

@include tablet {
    .container {
        height: $header-height-tablet;
        padding: 25px;
    }
}

@include desktop {
    .container {
        height: $header-height-desktop;
        padding: 30px;
    }
}
