@import "../../../styles/variables.scss";

.select {
    padding: 5px 15px;
    outline: 0;
    border: 2px solid $text-black;
    color: $text-black;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: 12px;
}
